title: Tracey Jaquith - IPFS-tini
img_site: img/traceymonet-half.jpg
posts_per_page: 10
remove_blur: true

intro:
  rss: true
  social: true
  paragraph: "Technophile · Optimist · <a href=/biking>Cyclist</a> · <a href=https://archive.org/about/bios.php>Archivist</a> · Design · <a href=/video>Video</a> · TV · Nomad · Docker"

menu:
  # Sets the menu items in the navigation bar
  # Identifier prepends a Font Awesome icon to the menu item
  main:
    - name:              Home
      identifier:        home
      url:               /
      pre:               <i class='fa fa-home'></i>
      weight:            1


sidebar:
  about: tracey is a nonstop dance party.  so you dont have to.  dont ask me about <a href=/2019-08-meesa-3-k8s-annie/>containers</a>.  thanks for dropping by today.  you look nice.
  post_amount: 5
  categories: true
  categories_by_count: true

footer:
  rss: true
  social: true

social:
  rss: index.xml
  twitter: tracey_pooh
  youtube: channel/UCBcfKCrYjtWcuTk5LLT-7xg
  linkedin: traceypooh
  pinterest: poohbot
  github: traceypooh
  gitlab: traceypooh
  codepen: traceypooh
  stackoverflow: 11941875 # User Number
  flickr: 46222920@N05
  tumblr: traceypooh
  strava: traceypooh

social_share: ['twitter', 'facebook', 'pinterest', 'email', 'linkedin', 'reddit']
